* {
  margin: 0 auto;
}

#logo {
  height: 140px;
}

#icon-earth {
  font-size: 1.4rem;
  margin-top: 0.2rem;
}

#icon-earth:hover {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.primer-parrafo {
  border-radius: 50px;
  background-color: rgba(216, 222, 232, 0.5);
  border: 1.5px solid lightgray;
  width: 60%;
  padding: 2.2rem;
  box-shadow: 2px 2px 12px dodgerblue;
}

.primer-parrafo p {
  text-align: center;
  padding: 1.3rem;
  line-height: 2.2em;
}

.navbar {
  background-color: turquoise;
  color: white;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  position: sticky;
  display: flex;
  flex-direction: row;
  top: 0;
  box-shadow: 2px 2px 4px lightgray;
  width: 100vw;
  z-index: 1;
}

.navbar-text {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.navbar-hide {
  display: none;
}

.navbar-text > li {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5rem;
}

.nav-item:hover {
  font-size: 20px;
  text-decoration: underline;
}

#img-contacto {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  border: 1.8px solid white;
}

li {
  text-decoration: none;
  list-style: none;
}

.caja-foto-carrito {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.caja-foto {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
.caja-carrito {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.fa-bars {
  border: 1px solid white;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 4px;
  cursor: pointer;

  margin-top: auto;
}

.fa-bars-hide {
  display: none;
}

main {
  background-repeat: repeat;
  height: 100%;
  background-image: url(https://static.posters.cz/image/1300/fotomurales/green-modern-geometric-pattern-416x290-cm-premium-non-woven-130gsm-i78026.jpg);
  filter: saturate(40%);
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

.primer-parrafo {
  border-radius: 50px;
  background-color: rgba(216, 222, 232, 0.5);
  border: 1.5px solid lightgray;
  width: 80%;
  padding: 2.2rem;
  box-shadow: 2px 2px 12px dodgerblue;
}

.caja-foto-carrito-hide {
  display: none;
}

.formacion-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.formacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*   flex-direction: row; */
}

.card {
  color: white;
  box-shadow: 2px 2px 9px tomato;
  background-color: rgba(207, 162, 58, 0.75);
  margin: 0.8rem;
  border-radius: 18px;
  padding: 1.2rem;
}

.title {
  color: aquamarine;
  text-transform: camelcase;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    align-items: center;
    top: 0;
  }

  .navbar-text {
    display: flex;
    flex-direction: column;
  }

  .caja-foto-carrito {
    display: flex;
    flex-direction: row;
  }

  .caja-foto-carrito-hide {
    display: none;
  }

  li {
    margin-top: 0.5rem;
  }

  footer {
    bottom: 0;
  }
}

footer {
  margin-top: 1.2rem;
  z-index: 2;
  background-color: turquoise;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.diseno {
  margin-left: 1rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1rem;
  font-size: 25px;
}

.social > i {
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
